<form >
  <input 
    type="text" 
    class="input-xxlarge"
    ng-model="post.title"  
    placeholder="Say Something"
    ng-click="hideForm=false"
  >

  <div ng-hide="hideForm">
    <textarea  
      class="input-xxlarge"
      rows="10"
      ng-model="post.body" 
      placeholder="Tell us more"
    ></textarea>

    <input 
      type="text" 
      ng-list
      class="input-xxlarge"
      ng-model="post.tags"  
      placeholder="tags, separated, by commas"
    >


    <div >
      <button class="btn btn-primary" ng-click="save()">Submit your post</button>
    </div>
  </div>
</form>
